/* layout */
#header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 30px;

  font-size: 18px;
  font-weight: 600;

  z-index: 999;
}

.container {
  width: 1513px;
}

/* header */
#mNav {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999999;
}
#mNav i {
  color: #fff;
  font-size: 20px;
  padding: 20px 20px;
}
#mNav ul {
  position: absolute;
  top: 50px;
  right: 20px;
  text-align: right;
  transition: transform 0.5s;
  transform: translateX(100px);
}
#mNav ul.active {
  transform: translateX(0);
}

.lnb ul {
  display: flex;
}
.lnb ul li {
  padding-left: 30px;
}
.lnb ul li a:hover {
  color: #ffaf3f;
}

/* stage */
#stage {
  position: relative;
  padding-top: 10px;
  height: 380vh;
}
.spotlight_text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 6.6667vw;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 14%;
  color: white;
  opacity: 0;
  transition: 1s;
  z-index: 100;
  mix-blend-mode: screen;
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 200, 100, 0.6),
    0 0 60px rgba(255, 180, 50, 0.4);
}
.spotlight_text.show {
  opacity: 1;
}
.stage_img {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.portfolio_wrap {
  position: fixed;
  top: 20%;
  left: -300px;
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transition:
    left 1s ease,
    opacity 1s ease;
  z-index: 100;
  mix-blend-mode: screen;
}

.portfolio_wrap.active {
  left: 10%;
  top: 35%;
  opacity: 1;
}
.name_wrap {
  position: fixed;
  bottom: 25%;
  right: -400px;
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transition:
    right 1s ease,
    opacity 1s ease;
  z-index: 100;
  mix-blend-mode: screen;
}
.name_wrap.active {
  right: 10%;
  bottom: 35%;

  opacity: 1;
}
.line {
  width: 180px;
  height: 1px;
  background: #d89c2b;
}
.stage_text {
  display: inline-block;
  color: #d89c2b;

  font-size: 14px;
  letter-spacing: 22%;

  font-family: "Cormorant Garamond", serif;

  text-shadow: 0 0 10px rgba(255, 200, 100, 0.5);

  white-space: nowrap;
  will-change: opacity;
  text-shadow: none;
}

/******** about ***********/
.stage {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../img/about_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.card-wrap {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-cards {
  position: relative;
  width: 390px;
  height: 270px;
  perspective: 1800px;
  isolation: isolate;
}

.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotateY(0deg);
  transition: transform 1s ease;
  pointer-events: none;
}

/* 카드 */

.icon-cards__item {
  position: absolute;

  left: 50%;
  top: 50%;

  width: 390px;
  height: 270px;

  margin-left: -195px;
  margin-top: -135px;

  border: 1px solid #ffaf3f;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 30px;
  font-weight: bold;

  backface-visibility: hidden;
  background: rgba(6, 6, 6, 0.92);

  overflow: hidden;

  transform-style: preserve-3d;
}
.card_desc {
  background: transparent !important;

  isolation: isolate;

  position: relative;
  z-index: 10;
}
.icon-cards__item img {
  width: 198px;
  height: 270px;
  opacity: 1;
}
.profile {
  display: flex;
  justify-content: space-between;
}
.name {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 10%;
  padding-bottom: 10px;
}
.nameE {
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 10%;
}
/* .profile_wrap {
  height: 270px;
  width: 157px;
} */
.profile_desc {
  display: flex;
}
.title_info {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10%;
  color: #c98a5b;
  line-height: 3.3;
  text-align: left;
}
.info {
  padding-left: 3px;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 3.3;
  text-align: left;
}
.info p:nth-child(3) {
  font-size: 12px;
}
.about,
.education,
.skills {
  display: flex;
  flex-direction: column;
}
.about_desc {
  width: 371px;
  text-align: center;
}
.education .card_desc p {
  padding-bottom: 20px;
}
.education .card_desc p:nth-child(1),
.education .card_desc p:nth-child(3) {
  padding-bottom: 0;
}
.icons {
  width: 100%;
  height: 100px;
  display: block;
}
.icons_l1 img,
.icons_l2 img {
  width: 31px;
  height: 31px;
  margin: 0 6px 6px 6px;
}
.card_desc {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 7%;
  text-align: center;
}
.card_title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 20%;
  padding-bottom: 30px;
}
.card_title h4 {
  display: inline;
}
.card_title p {
  display: inline;
}
/* 핵심 */
.icon-cards__item:nth-child(1) {
  transform: rotateY(0deg) translateZ(320px);
}

.icon-cards__item:nth-child(2) {
  transform: rotateY(72deg) translateZ(320px);
}

.icon-cards__item:nth-child(3) {
  transform: rotateY(144deg) translateZ(320px);
}

.icon-cards__item:nth-child(4) {
  transform: rotateY(216deg) translateZ(320px);
}

.icon-cards__item:nth-child(5) {
  transform: rotateY(288deg) translateZ(320px);
}

/* 버튼 */

.prev,
.next {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  width: 60px;
  height: 60px;
  color: #ffaf3f;
  background: none;
  font-size: 30px;

  cursor: pointer;

  z-index: 999999;
}

.prev {
  left: -110px;
  pointer-events: auto;
}

.next {
  right: -110px;
  pointer-events: auto;
}
/* 기본 세팅 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
}
/* *****profile****** */
#profile {
  width: 100%;
  aspect-ratio: 1920 / 2080;

  background: url("../img/main_about.png") no-repeat center top;

  background-size: cover;

  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: 100% auto;
}

.container {
  width: 100%;
  max-width: 1400px;

  margin: 0 auto;
  padding: 0 40px;
}

.profile_inner {
  position: relative;
  z-index: 2;
  top: -303px;

  width: 100%;
  color: #fff;
}

/* PROFILE 제목 */
.profile_inner > h1 {
  text-align: center;

  font-size: 50px;
  font-style: italic;
  font-weight: 700;

  letter-spacing: 8px;

  margin-bottom: 110px;

  font-family: "Cormorant Garamond", serif;
}

/* 3개 영역 */
.profile_inner ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  gap: 50px;
}

/* 각 영역 */
.profile_inner ul li {
  width: 320px;

  position: relative;
  left: 60px;
  text-align: left;
}

/* 세로 구분선 */
.profile_inner ul li:not(:last-child)::after {
  content: "";

  position: absolute;
  top: 0;
  right: -25px;

  width: 1px;
  height: 180px;

  background: rgba(255, 255, 255, 0.25);
}

/* 소제목 */
.profile_inner ul li h2 {
  font-size: 22px;
  font-weight: 400;

  letter-spacing: 2px;

  color: #ff9b32;

  margin-bottom: 20px;
}

/* 내용 */
.profile_inner ul li p {
  font-size: 17px;
  font-weight: 100;

  line-height: 2;

  color: rgba(255, 255, 255, 0.82);
}

/* *****works******* */
#works {
  background-color: aquamarine;
}
.works_inner ul {
  display: flex;
  justify-content: space-between;
}
.works_inner ul li {
  flex: 1;
}
.works_inner ul li:nth-child(1) {
  background: url();
}
.works_inner ul li a {
  color: #c98a5b;
}
